[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.vs/
.idea/
*.apk
*.aab
*.unitypackage
sysinfo.txt
crashlytics-build.properties

Assets/StreamingAssets/malgun.ttf
Assets/StreamingAssets/malgun.ttf.meta

imgui.ini
unity_setup.log
